---
# This page name will go in the page <title>
# Omit it to just have the site title be the <title>
# title: Home

# In the _layouts folder
layout: default
---

    <div class="jumbotron jumbotron-fluid" id="hero">
      <div class="row full-height align-items-center no-row-margins">
        <div class="col-md"></div>
        <div class="col-md">
          <h1 class="display-4">BUBBLE OR REVOLUTION?</h1>
          <p class="lead">
            The present and future of blockchain and cryptocurrencies. Drops 6/10/19.
          </p>

          <a href="https://www.amazon.com/gp/product/b0756mtx6k/" class="btn btn-lg btn-primary btn-block disabled">
            Coming soon
          </a>
        </div>
      </div>
    </div>

    <!-- New navbar -->
    <nav class="navbar sticky-top navbar-expand-md navbar-light bg-light" id="header-nav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- NB: ml-auto moves navigation to right; mr-auto moves to left;
               mx-auto centers navigation -->
        <a class="navbar-brand d-none d-lg-block" href="#">Bubble or Revolution?</a>

        <ul class="navbar-nav">
          {% for page in site.data.sections %}
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}{{ page.url }}" data-scroll>
              {{ page.name}}
            </a>
          </li>
          {% endfor %}
        </ul>

          <!-- a buy button only to be shown in the hamburger menu
               (because we hide the buy button that's normally on the right side
               when the hamburger menu is opened). so show this only
               on screens where the hamburger menu is active; i.e. when the
               navbar can collapse. -->
           <form class="form-inline d-md-none mt-3">
             <button class="btn btn-outline-primary disabled" type="submit">BUY NOW</button>
           </form>
      </div>

      <!-- show this on all screens by default, but hide when the
           hamburger menu is pressed -- looks weird with animation.
           instead, show a "buy now" button in the hamburger menu itself! -->
      <div class="form-inline navbar-buy-form">
        <a href="#" class="btn btn-primary disabled">BUY NOW</a>
      </div>
    </nav>

    <section class="section" id="intro">
      <div class="section-content">
        <div class="container">
          <h1>
            A primer on blockchain and cryptocurrencies
          </h1>

          <div class="row">
            <div class="col-md-4 order-2">
              <img src="{{ site.baseurl }}/assets/img/cover.png" alt="Bubble or Revolution" class="img-fluid" />
            </div>
            <div class="col-md-8 order-1">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section section-dark" id="authors">
      <div class="section-content">
        <div class="container">
          <h1 class="text-white">
            From the #1 bestselling authors of <em>Swipe to Unlock</em>
          </h1>

          <div class="card-deck">
            {% for author in site.data.authors %}
            <div class="card author-card">

              <!-- bigger and smaller pictures for bigger and smaller screens -->
              <!-- md and up: big picture is fine
                   sm: cards are still side by side but <200px in width so need
                       smaller image
                   xs: cards are stacked; big pictures are fine -->
              <img src="{{ site.baseurl }}/assets/img/authors/{{ author.image }}" alt="{{ author.name }}" class="rounded-circle author-image centered d-sm-none d-md-block" />
              <img src="{{ site.baseurl }}/assets/img/authors/{{ author.image }}" alt="{{ author.name }}" class="rounded-circle author-image author-image-small centered d-none d-sm-block d-md-none" />

              <div class="card-body">
                <h3 class="card-title centered">{{ author.name }}</h3>
                <p class="card-text">{{ author.bio }}</p>
              </div>
              <div class="card-footer">
                <a href="#" class="card-link"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            {% endfor %}
          </div>

          <!-- book row -->
          <div class="card mt-5 mb-3">
            <div class="row no-gutters">
              <div class="col-md-3">
                <img src="{{ site.baseurl }}/assets/img/swipetounlock-cover.png" class="card-img" alt="Swipe to Unlock">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h2 class="card-title">
                    <a href="https://swipetounlock.com/amazon" target="_blank">
                      <em>Swipe to Unlock: The Primer on Technology and Business Strategy</em>
                    </a>
                  </h2>

                  <div class="row fast-facts card-text mt-4 mb-2">
                    <div class="col-md border-right">
                      <h4 class="h3 text-success">#1</h4>
                      <p>Amazon bestseller</p>
                    </div>
                    <div class="col-md">
                      <h4 class="h3 text-success">4.7 <i class="fas fa-star fa-sm"></i></h4>
                      <p>On Amazon</p>
                    </div>
                    <div class="col-md border-left">
                      <h4 class="h3 text-success">250+</h4>
                      <p>Reviews</p>
                    </div>
                  </div>

                  <p class="lead">
                    Sphinx of black quartz, judge my vow!
                    Sphinx of black quartz, judge my vow!
                    Sphinx of black quartz, judge my vow!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section" id="chapters">
      <div class="section-content">
        <div class="container">
          <h1>What's Inside</h1>

          <ul class="list-group list-group-flush">
            {% for chapter in site.data.chapters %}
            <li class="list-group-item">
              <h2 class="h4 text-primary">
                <span class="badge badge-primary badge-pill">
                  {{ forloop.index }}
                </span>
                {{ chapter.title }}
              </h2>
              <p>{{ chapter.description }}</p>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>


    <section class="section section-dark" id="testimonials">
      <div class="section-content">
        <div class="container">
          <h1 class="text-white">What People are Saying</h1>

          <div class="card-columns">
            {% for testimonial in site.data.testimonials %}
            <div class="card p-3 mt-3">
              <!-- <img src="..." class="card-img-top" alt="..."> -->
              <blockquote class="blockquote mb-0">
                <p>{{ testimonial.quote }}</p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    {{ testimonial.name }}, {{ testimonial.title }}
                  </small>
                </footer>
              </blockquote>
            </div>
            {% endfor %}
          </div>


        </div>
      </div>
    </section>

    <section class="section">
      <div class="section-content">
        <div class="container">
          <h1>Join our mailing list!</h1>

          <p>
            Get notified when the book comes out.
          </p>

          <form>
            <div class="form-row">
              <div class="col-sm-9">
                <input type="email" class="form-control" placeholder="Email address" />
              </div>
              <div class="col-sm-3">
                <button class="btn btn-primary btn-block disabled" disabled>Sign up</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="section-content">
        <div class="container">
          <h1>Hello, World</h1>

          <p>
            Sphinx of black quartz, judge my vow!
          </p>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="section-content">
        <div class="container">
          <h1>Hello, World</h1>

          <p>
            Sphinx of black quartz, judge my vow!
          </p>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="section-content">
        <div class="container">
          <h1>Hello, World</h1>

          <p>
            Sphinx of black quartz, judge my vow!
          </p>
        </div>
      </div>
    </section>
