<div id="bulkModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="bulk-buy-modal modal-body">
          <div>
            <h3>Buy in bulk with a discount!</h3>
            <!-- <p>
                To buy discounted copies of Bubble or Revolution in bulk, please email us at 
                <a href="mailto:team@bubbleorrevolution.com?body=Please tell us the number of books you'd like to order, the shipping destination
                , and the date you need them!">team@bubbleorrevolution.com</a> with the quantity of books you are interested in purchasing, the shipping destination, 
                and the date which you need the books buy and we will send you a price quote as soon as possible. 
            </p> -->
            <p>
                To buy discounted copies of Bubble or Revolution in bulk, please email us at 
                <a href="mailto:team@bubbleorrevolution.com?body=Please tell us the number of books you'd like to order, the shipping destination
                , and the date you need them!">team@bubbleorrevolution.com</a> with: 
                <ol>
                    <li>the quantity of books you are interested in purchasing</li>
                    <li>the shipping destination</li>
                    <li>the date which you need the books buy</li>
                </ol>
                We will send you a price quote as soon as possible. 
            </p>
          </div>


        </div>
      </div>

    </div>
  </div>
