<!doctype html>
<html>

<head>
  <title>
    {% if page.title %}{{ page.title }} |{% endif %}
    {{ site.name }}
  </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta property="og:title" content="{{ site.name }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.deployed_url }}" />
  <meta property="og:image" content="{{ site.baseurl }}{{ site.preview_image }}" />
  <meta property="og:description" content="{{ site.description }}" />

  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]
    <link rel="stylesheet" href="assets/css/main.css" />
    [if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

  <!-- Start Libraries -->

  <!-- Bootstrap with Bootswatch -->
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootswatch/{{site.library_versions.bootstrap}}/flatly/bootstrap.min.css"
    crossorigin="anonymous">

  <!-- Font Awesome -->
  <link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v{{site.library_versions.fontawesome}}/css/all.css"
    crossorigin="anonymous">


  <!-- End Libraries -->

  <!-- custom css. we actually store it as SCSS, but it is auto-compiled to CSS. -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">

  <!-- favicon -->
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon.png">
</head>

<body data-spy="scroll" data-target="#header-nav" data-offset="0">
