<!doctype html>
<html>

<head>
  <title>
    {% if page.title %}{{ page.title }} |{% endif %}
    {{ site.name }}
  </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta property="og:title" content="{{ site.name }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.deployed_url }}" />
  <meta property="og:image" content="{{ site.baseurl }}{{ site.preview_image }}" />
  <meta property="og:description" content="{{ site.description }}" />

  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]
    <link rel="stylesheet" href="assets/css/main.css" />
    [if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

  <!-- Start Libraries -->

  <!-- jQuery -->
  <script
    src="https://code.jquery.com/jquery-{{site.library_versions.jquery}}.slim.min.js"
    crossorigin="anonymous"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/{{site.library_versions.bootstrap}}/css/bootstrap.min.css"
    crossorigin="anonymous">
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/{{site.library_versions.bootstrap}}/js/bootstrap.min.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v{{site.library_versions.fontawesome}}/css/all.css"
    crossorigin="anonymous">

  <!-- End Libraries -->

  <!-- custom css. we actually store it as SCSS, but it is auto-compiled to CSS. -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">

  <!-- favicon -->
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon.png">
</head>

<body>

  <!-- New navbar -->
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{{ site.baseurl }}">{{ site.name }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- NB: ml-auto moves navigation to right; mr-auto moves to left -->
        <ul class="navbar-nav ml-auto">
          {% for page in site.data.pages %}
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}{{ page.url }}">
                {{ page.name}}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
